.a2-box {
    background: linear-gradient(135deg, #00BDE1 0%, #0093C6 100%);
    height: 617px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a2-sub-bux {
    background-color: white;
    height: 260px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 5px 9px 4px rgb(0, 0, 0, 0.1); 
    line-height: 26px;
}






@media (max-width:767px) {
    .a2-box {
        background: linear-gradient(135deg, #00BDE1 0%, #0093C6 100%);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px 70px 0px;
    }
    .a2-sub-bux {
        background-color: white;
        height: 100px;
        width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid white;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        box-shadow: 5px 9px 4px rgb(0, 0, 0, 0.1); 
        line-height: 26px;
        margin-top: 50px;
    }
    .a2-icon-container {
        margin-right: 60px;
    }
}