.b2-box {
    background-color: rgb(244, 250, 253);
    margin-top: 50px;
    padding-top: 150px;
    padding-left: 200px;
    padding-bottom: 180px;
}
.b2-heading {
    font-size: 40px;
    font-weight: 900;
    margin-left: 230px;
    margin-bottom: 100px;
}
.b2-main-box {
    display: flex;
}
.b2-image-box {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    padding: 0;
    margin: 0;
    margin-right: 20px;
    position: relative;
}
.b2-image {
    width: 100%;
    height: 100%;
}
.b2-icon1 {
    position: absolute;
    top: 35px;
    right: 30px;
    width: 48px;
    height: 48px;
}
.b2-text-box {
    margin-top: -10px;
    position: relative;
}
.b2-first-line {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 64, 129);
    margin-bottom: 20px;
    margin-top: 50px;
}
.b2-second-line {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    width: 473px;
}
.b2-third-line {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.b2-icon2 {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 0;
    right: -40px;
}






@media (max-width:767px) {
    .b2-box {
        background-color: rgb(244, 250, 253);
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 0px;
        padding-bottom: 70px;
    }
    .b2-heading {
        font-size: 40px;
        font-weight: 900;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .b2-main-box {
        display: flex;
        flex-direction: column;
    }
    .b2-text-box {
        margin-top: 0px;
        position: relative;
        margin-left: 40px;
    }
    .b2-second-line {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 80px;
        text-align: justify;
        line-height: 22px;
        width: 500px;
    }
    .b2-icon2 {
        display: none;
    }
}