.b4-box {
    background-color: rgb(244, 250, 253);
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b4-header {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 100px;
}
.b4-sub {
    display: flex;
    margin-bottom: 20px;
}
.b4-first-line {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.b4-second-line {
    width: 650px;
    font-size: 16px;
    font-weight: 400px;
    color: gray;
    line-height: 22px;
    text-align: justify;

    margin-bottom: 20px;
}
.b4-text-box {
    margin-left: 20px;
}





@media (max-width:767px) {
    .b4-box {
        background-color: rgb(244, 250, 253);
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
.b4-second-line {
    display: none;
}
}