body {
    margin-top: 72px;
}
.total-container {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    width: 400px;
    margin-top: 30px;
    height: 50px;
    border-radius: 30px;
    border-width: 5px;
    border: solid lightblue;
}



@media (max-width:767px) {
    body {
        margin-top: 0px;
        padding: 10px;
        width: 747px;
    }
}






/* background-color:  #E5E5E5;

    background-color: rgb(244, 250, 253);
    color: rgb(255, 64, 129) */