.header {
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 200;
    width: 100%;
}
.hospital-icon-container {
    display: flex;
    width: 660px;
    height: 72px;
    justify-content: start;
    align-items: center;
}
.image1 {
    height: 38.5px;
    width: 38.5px;
    padding-left: 70px;

}
.image1b {
    width: 83.22px;
    height: 22.02px;
}
.hospital-icon-text {
    display: flex;
    flex-direction: column;
    font-size: 11.7256px;
    font-weight: 900px;
}
.tools-container {
    display: flex;
    width: 650px;
}
.tool {
    margin-right: 40px;
    background-color: white;
}
.button1 {
    padding: 10px 30px;
    background-color: white;
    border-color: tomato;
    border-width: 1.5px;
    border-radius: 5px;
}








@media (max-width:767px) {
    .header {
        position: static;
    }
    .tools-container {
        display: none;
    }
    .button1 {
        display: none;
    }
    
}